<div class="row">
  <!-- サイドバー -->
  <%= render 'shared/side' %>

  <div class="col-9 team-wrapper">
    <div class="bar"><p>CleanAceチーム紹介</p></div>
    <div class="introduction">
      <p>羽生市を中心に活動している軟式野球チームです。現在在籍は11人。 社会人中心のメンバー構成です。平均年齢28才の若さあふれる仲間たち。 忙しいなか練習を続け、一歩一歩成長しています。 最近では結果もそれなりに出るようになってきましたが、 何よりもみんなで野球を楽しむことを第一に、これからも頑張っていきます。応援よろしく！！！</p>
    </div>
  </div>
</div>