<div class="row">
  <div class="admin-entry-form">
    <table>
      <tbody>
        <tr>
          <td id="one">購入日時</td>
          <td id="two"><%= @order.user.full_name %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>