<div class="col-3 side-bar">
  <div class="box">
    <p>大雨によるお荷物のお届けについて>></p>
  </div>
  <div class="side-pickup">
    <ul>
      <li><i class="fas fa-baseball-ball"></i>  CleanAceについて</li>
      <li><i class="fas fa-baseball-ball"></i>  ユニフォーム工程紹介</li>
      <%= link_to overview_path, class: "side-link" do %><li><i class="fas fa-baseball-ball"></i>  会社概要</li><% end %>
      <li><i class="fas fa-baseball-ball"></i>  お問い合わせ</li>
      <li><i class="fas fa-baseball-ball"></i>  小坂店長ブログ</li>
      <li><i class="fas fa-baseball-ball"></i>  小坂店長への相談メール</li>
      <%= link_to users_path, class: "side-link" do %><li><i class="fas fa-baseball-ball"></i>  マイページ</li><% end %>
    </ul>
  </div>

  <!-- 商品一覧 -->
  <div class="side-bar-bar"><p>商品一覧</p></div>
  <div class="side-product">
    <ul>
      <li><i class="fas fa-caret-right"></i> CleanAceについて</li>
      <li><i class="fas fa-caret-right"></i> ユニフォーム工程紹介</li>
      <li><i class="fas fa-caret-right"></i> 会社概要</li>
      <li><i class="fas fa-caret-right"></i> お問い合わせ</li>
      <li><i class="fas fa-caret-right"></i> 小坂店長ブログ</li>
      <li><i class="fas fa-caret-right"></i> 小坂店長への相談メール</li>
      <li><i class="fas fa-caret-right"></i> おすすめ商品</li>
    </ul>
  </div>

  <!-- ご案内 -->
  <div class="side-bar-bar"><p>ご案内</p></div>
  <div class="side-bar-list">
    <ul>
      <li>スタッフ紹介</li>
      <li>町おこし</li>
      <li>鬼が住む町、羽生</li>
      <li>スタッフ紹介</li>
    </ul>
  </div>
</div>