<div class="row">
  <%= render 'shared/side' %>

  <div class="col-9">
    <div class="member-bar">
      <p>試合結果</p>
    </div>

    <div class="result-box">
      <h5>対 ヤンキース　<span>2020.7.12</span></h5>
      <table style="border: solid 1px black; width: 340px;">
        <tbody>
          <tr>
            <th id="team-name">TEAM</th>
            <th id="one" class="ining">1</th>
            <th id="two" class="ining">2</th>
            <th id="three" class="ining">3</th>
            <th id="fourth" class="ining" class="ining">4</th>
            <th id="fifth" class="ining">5</th>
            <th id="sixth" class="ining">6</th>
            <th id="seventh" class="ining">7</th>
            <th id="r" class="ining">R</th>
          </tr>
          <tr>
            <td>ライコネンズ</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>サニーズ</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <p>試合説明文</p>
    </div>
  </div>
</div>