<div class="row thanks-page">
  <%= render 'shared/side' %>

  <div class="col-9">
    <br>
    <h1>ご注文ありがとうございました</h1>
    <p>登録していただいたメールアドレスに確認メールを送信しました。</p>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</div>