<div class="row">
  <%= render 'admin/shared/side' %>

  <div class="col-9">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>番号</th>
          <th>名前</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.full_name %></td>
          <td><%= link_to "詳細", admin_user_path(user) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>