<div class="row">


  <!-- サイドバー -->
  <div class="col-3 side-bar">
    <div class="box">
      <p>大雨によるお荷物のお届けについて>></p>
    </div>
    <div class="side-pickup">
      <ul>
        <li><i class="fas fa-baseball-ball"></i>  CleanAceについて</li>
        <li><i class="fas fa-baseball-ball"></i>  ユニフォーム工程紹介</li>
        <li><i class="fas fa-baseball-ball"></i>  会社概要</li>
        <li><i class="fas fa-baseball-ball"></i>  お問い合わせ</li>
        <li><i class="fas fa-baseball-ball"></i>  小坂店長ブログ</li>
        <li><i class="fas fa-baseball-ball"></i>  小坂店長への相談メール</li>
        <li><i class="fas fa-baseball-ball"></i>  おすすめ商品</li>
      </ul>
    </div>

    <!-- 商品一覧 -->
    <div class="side-bar-bar"><p>商品一覧</p></div>
    <div class="side-product">
      <ul>
        <li>CleanAceについて</li>
        <li>ユニフォーム工程紹介</li>
        <li>会社概要</li>
        <li>お問い合わせ</li>
        <li>小坂店長ブログ</li>
        <li>小坂店長への相談メール</li>
        <li>おすすめ商品</li>
      </ul>
    </div>

    <!-- ご案内 -->
    <div class="side-bar-bar"><p>ご案内</p></div>
    <div class="side-bar-list">
      <ul>
        <li>スタッフ紹介</li>
        <li>スタッフ紹介</li>
        <li>スタッフ紹介</li>
        <li>スタッフ紹介</li>
      </ul>
    </div>
  </div>


  <!-- メイン部分 -->
  <div class="col-9 main-wrapper">
    <!-- トップロゴ -->
    <div class="image">
      <%= image_tag "set01.jpg", style: "width: 100%; height: 100%;" %>
    </div>
    <p class="image-bottom">新潟明訓の夏はまだ終わらない！新商品続々！！</p>

    <!-- バー -->
    <div class="bar"><p>CleanAceおすすめ商品</p></div>

    <!-- コンテンツ -->
    <div class="images">
      <ul>
        <li>
          <div class="image"></div>
          <div class="image-title"></div>
        </li>
        <li>
          <div class="image"></div>
          <div class="image-title"></div>
        </li>
        <li>
          <div class="image"></div>
          <div class="image-title"></div>
        </li>
        <li>
          <div class="image"></div>
          <div class="image-title"></div>
        </li>
        <li>
          <div class="image"></div>
          <div class="image-title"></div>
        </li>
        <li>
          <div class="image"></div>
          <div class="image-title"></div>
        </li>
        <li>
          <div class="image"></div>
          <div class="image-title"></div>
        </li>
        <li>
          <div class="image"></div>
          <div class="image-title"></div>
        </li>
      </ul>
    </div>

    <div class="bar"><p>BASEBALL TEAM</p></div>

    <div class="images-quattro">
      <ul>
        <li>
          <div class="image"></div>
          <div class="image-title"></div>
        </li>
        <li>
          <div class="image"></div>
          <div class="image-title"></div>
        </li>
        <li>
          <div class="image"></div>
          <div class="image-title"></div>
        </li>
        <li>
          <div class="image"></div>
          <div class="image-title"></div>
        </li>
      </ul>
    </div>

  </div>




</div> <!-- row -->