<div class="row">


  <!-- サイドバー -->
  <%= render 'shared/side' %>


  <!-- メイン部分 -->
  <div class="col-9 main-wrapper">
    <!-- バー -->
    <div class="bar" style="margin: 0;"><p>CleanAce 商品</p></div>

    <!-- コンテンツ -->
    <div class="images clearfix">
      <ul>
        <% @products.each do |product| %>
          <li class="marging">
            <%= link_to product_path(product) do %>
              <div class="image"><%= attachment_image_tag product, :image, style: "width: 100%; height: 100%;" %></div>
              <p class="image-title"><%= product.introduction %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

</div> <!-- row -->