<div class="row">
  <div class="col-sm-1">
    <div class="box" style="width: 5px; height: 20px; background-color: #FF55FF;"></div>
  </div>
  <div class="col-sm-3">
    <%= @product.product_name.name %>
    <p><%= Product.find_by(product_name_id: @product.product_name_id).product_size.size %></p>
  </div>
</div>
<div class="row">
  <% @products.each do |product| %>
    <%= attachment_image_tag product, :image, :fill, 100, 100, format: 'jpg' %>
  <% end %>
</div>
